# Análise de dados - Pokemon

Fonte de dados: https://github.com/KeithGalli/pandas

# Questões:

1. Quantos pokemons existem (segundo a base de dados)?
1. Quantos tipos primários e secundários de poder existem?
1. Qual tipo primário e secundário possuem mais pokemons?
1. Quantas gerações existem?
1. Qual geração possui mais pokemons?
1. Qual ou quais pokemons possuem a maior nota de Attack?
1. Qual ou quais pokemons possuem a MAIOR somatória de Attack e Defense?
    1. Qual o top 3 pokemons, considerando a soma das notas de Attack e Defense?
1. Qual ou quais pokemons possuem a MENOR somatória de Attack e Defense?
    1. Qual os 3 mais inferiores pokemons, considerando a soma das notas de Attack e Defense?
1. Quais os pokemons legendários? Quantos são?
1. Quantos pokemons possuem mais de 1 tipo de poder?

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('pokemon.csv')
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

## 1 - Quantos pokemons existem?

In [22]:
df['#'].describe()

count    800.000000
mean     362.813750
std      208.343798
min        1.000000
25%      184.750000
50%      364.500000
75%      539.250000
max      721.000000
Name: #, dtype: float64

In [3]:
quant = df['#'].count()
print(f"Existem {quant} pokemons segundo essa base de dados.")

Existem 800 pokemons segundo essa base de dados.

## 2 - Quantos tipos primários e secundários de poder existem?

In [4]:
tipo_1 = df['Type 1'].nunique()
print(f"Existem {tipo_1} tipos primários de poder.")

Existem 18 tipos primários de poder.

In [5]:
tipo_2 = df['Type 2'].nunique()
print(f"Existem {tipo_2} tipos secundários de poder.")

Existem 18 tipos secundários de poder.

## 3 - Qual tipo primário e secundário possuem mais pokemons?

Tipo Primário:

In [6]:
df_t1 = df['Type 1'].value_counts()
df_t1

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

In [7]:
t1 = df['Type 1'].mode()[0].upper()
print(f"O tipo primário \033[1m{t1}\033[m possui maior número de usuários pokemons.")

O tipo primário WATER possui maior número de usuários pokemons.

Tipo Secundário:

In [8]:
t2 = df['Type 2'].mode()[0].upper()
print(f"O tipo secundário \033[1m{t2}\033[m possui maior número de usuários pokemons.")

O tipo secundário FLYING possui maior número de usuários pokemons.

## 4 - Quantas gerações existem?

In [9]:
n_g = df["Generation"].nunique()
print(f"Existem \033[1m{n_g}\033[m gerações.")

Existem 6 gerações.

## 5 - Qual geração possui mais pokemons?

In [10]:
df["Generation"].value_counts()

1    166
5    165
3    160
4    121
2    106
6     82
Name: Generation, dtype: int64

In [11]:
r5 = df["Generation"].mode()[0]
print(f"A geração que mais possui pokemons é a \033[1m{r5}°")

A geração que mais possui pokemons é a 1°

## 6 - Qual ou quais pokemons possuem a maior nota de Attack?

In [12]:
max_attack = df["Attack"].max()
df_max = df[df["Attack"]== max_attack]
df_max

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,106,190,100,154,100,130,1,True

Qual ou quais pokemons possuem a menor nota de attack?

In [13]:
min_attack = df["Attack"].min()
df_min = df[df["Attack"] == min_attack]
df_min

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
121,113,Chansey,Normal,NaN,250,5,5,35,105,50,1,False
488,440,Happiny,Normal,NaN,100,5,5,15,65,30,4,False

## 7 - Qual ou quais pokemons possuem a MAIOR somatória de Attack e Defense?
Qual o top 3 pokemons, considerando a soma das notas de Attack e Defense?

In [14]:
df7 = pd.DataFrame()
df7["name"] = df["Name"]
df7["soma_attack_defense"] = df['Attack'] + df['Defense'] 
df7

                      name  soma_attack_defense
0                Bulbasaur                   98
1                  Ivysaur                  125
2                 Venusaur                  165
3    VenusaurMega Venusaur                  223
4               Charmander                   95
..                     ...                  ...
795                Diancie                  250
796    DiancieMega Diancie                  270
797    HoopaHoopa Confined                  170
798     HoopaHoopa Unbound                  220
799              Volcanion                  230

[800 rows x 2 columns]

In [15]:
top3 = df7.nlargest(3,"soma_attack_defense")
print("\033[1m Os 3 Pokemons com maior somatório das notas de attack e defense são:")
top3

 Os 3 Pokemons com maior somatório das notas de attack e defense são:

                      name  soma_attack_defense
333      AggronMega Aggron                  370
224    SteelixMega Steelix                  355
424  GroudonPrimal Groudon                  340

## 8 - Qual ou quais pokemons possuem a MENOR somatória de Attack e Defense?
Qual os 3 mais inferiores pokemons, considerando a soma das notas de Attack e Defense?

In [16]:
inf3 = df7.nsmallest(3,'soma_attack_defense')
print("\033[1m Os 3 Pokemons com menor somatório das notas de attack e defense são:")
inf3

 Os 3 Pokemons com menor somatório das notas de attack e defense são:

        name  soma_attack_defense
121  Chansey                   10
488  Happiny                   10
261  Blissey                   20

## 9 - Quais os pokemons legendários? Quantos são?

In [17]:
print("\033[1mPokemons legendários:")
df[df["Legendary"]==True]

Pokemons legendários:

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
156,144,Articuno,Ice,Flying,90,85,100,95,125,85,1,True
157,145,Zapdos,Electric,Flying,90,90,85,125,90,100,1,True
158,146,Moltres,Fire,Flying,90,100,90,125,85,90,1,True
162,150,Mewtwo,Psychic,NaN,106,110,90,154,90,130,1,True
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,106,190,100,154,100,130,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [18]:
legendario = (df["Legendary"]==True).sum()
print(f"São \033[1m{legendario}\033[m pokemons legendários.")

São 65 pokemons legendários.

## 10 - Quantos pokemons possuem mais de 1 tipo de poder?

In [19]:
type2_nulo = df["Type 2"].isnull().sum()
print(f"{type2_nulo} pokemons não possuem 2 tipos de poder")

386 pokemons não possuem 2 tipos de poder

In [20]:
contador = 0
for valor in df['Type 2']:
    if pd.isnull(valor):
        cont = 0
    else:
        contador = contador + 1
        
print(f"{contador} pokemons possuem 2 tipos de poder.")

414 pokemons possuem 2 tipos de poder.