___
**AULA 9 - CURSO EM VÍDEO - GUANABARA**
___

In [34]:
frase = "Olá mundo"

___
**FATIAMENTO**

In [35]:
print(frase[5])

print(frase[1:5])

print(frase[:5])

print(frase[5:])

print(frase[1:6:2])

print(frase[1::2])

u
lá m
Olá m
undo
l u
l ud

___
**ANÁLISE**

In [36]:
#Retorna o comprimento da string
len(frase)

9

In [37]:
frase.count('o')

1

In [38]:
frase.count('o',0,5)

0

In [39]:
#Encontrar a posição em que começa a string
frase.find('mun')

4

In [40]:
#O resultado -1 significa que não há correspondencia da string procurada
frase.find('chiclete')

-1

In [41]:
#Existe a palavra "curso"?
'curso' in frase

False

In [42]:
'mundo' in frase

True

___
**TRANSFORMAÇÃO**

*Replace - Altera a composição da string

In [43]:
#Não muda o valor da variável
print(frase.replace('mundo','idiotas'))
print(frase)

#Mudança na variável
frase = frase.replace('mundo','idiotas')
print(frase)

Olá idiotas
Olá mundo
Olá idiotas

*Lower - Altera a string para minúsculo

In [44]:
print(frase.lower())
print(frase)

olá idiotas
Olá idiotas

*Upper - Altera a string para maiúsculo

In [45]:
print(frase.upper())
print(frase)

OLÁ IDIOTAS
Olá idiotas

*Capitalize - Altera a primeira letra para maiúscula

In [46]:
print(frase.capitalize())
print(frase)

Olá idiotas
Olá idiotas

*Title - Deixa a primeira letra de cada palavra em maiúscula

In [47]:
print(frase.title())
print(frase)

Olá Idiotas
Olá idiotas

*Strip - Retira os espaços vazios

In [48]:
frase2 = ' Olá mundo  '
print(len(frase2))

print(frase2.strip())

print(len(frase2.strip()))

12
Olá mundo
9

*Split - Quebra a string formando uma lista

In [49]:
frase.split()

['Olá', 'idiotas']

In [50]:
frase2=['ola','mundo']

print(frase)

Olá idiotas

In [51]:
frase3 = "olá mundão bom bom!"
divido=frase3.split()
print(divido)
print(f"\nO primeiro item da lista é: {divido[0]}")

len(divido)

['olá', 'mundão', 'bom', 'bom!']

O primeiro item da lista é: olá

4

*Join - junta uma lista em uma única string

In [52]:
'*'.join(frase2)

'ola*mundo'

___
***DESAFIOS***
___

**(22) Crie um programa  que leia um nome completo e mostre:**

    a) O nome com todas as maiúsculas;

    b) O nome com todas as minúsculas;

    c) Quantas letras ao todo (sem considerar os espaços);

    d) Quantas letras tem o primeiro nome;

In [53]:
nome = input("Digite seu nome completo: ")

Digite seu nome completo: jessica hem

In [54]:
# a
nome2 = nome.upper()
print(f"O nome em maiúsculo é: {nome2}")

O nome em maiúsculo é: JESSICA HEM

In [55]:
# b
nome3 = nome.lower()
print(f"O nome em minusculo é: {nome3}")

O nome em minusculo é: jessica hem

In [56]:
# c
nome4 = nome.split()
nome4 = "".join(nome4)
quant = len(nome4)
print(f"O nome {nome} possui {quant} letras.")

O nome jessica hem possui 10 letras.

In [57]:
# d
nome5 = nome.split()
quant = len(nome5[0])
print(f'O primeiro nome {nome5[0]} posssui {quant} letras')

O primeiro nome jessica posssui 7 letras

___
**(23) Faça um programa que leia um n de 0 a 9999 e mostre na tela cada um dos dígitos separados.**

In [67]:
#### SÓ FUNCIONA SE O NÚMERO POSSUIR 4 DÍGITOS!! ####

num = input("Digite um número de 0 a 9999: ")
milhar=num[0]
centena = num[1]
dezena = num[2]
unidade = num[3]
print(f'\nMilhar: {milhar}')
print(f'Centena: {centena}')
print(f'Dezena: {dezena}')
print(f'Unidade: {unidade}')

Digite um número de 0 a 9999: 1234

Milhar: 1
Centena: 2
Dezena: 3
Unidade: 4

In [68]:
#### FUNCIONA SEMPRE! ####
num = int(input("Digite um número de 0 a 9999: "))

#5234
#5234 // 1000 = 5 e sobra 234
#5234 % 1000 = 234
#234//100 = 2
#234 % 100 = 34

milhar = num//1000
centena = (num%1000)//100
dezena = ((num % 1000)%100)//10
unidade = ((num % 1000)%100)%10

print(f"\nMilhar: {milhar}")
print(f"Centena: {centena}")
print(f"Dezena: {dezena}")
print(f"Unidade: {unidade}")

Digite um número de 0 a 9999: 124

Milhar: 0
Centena: 1
Dezena: 2
Unidade: 4

___
**(24) Crie um programa que leia o nome de uma cidade e diga se ela começa com a palavra "santo".**

In [6]:
cidade = input("Digite o nome de sua cidade: ").strip().upper()
print(cidade[:5]=='SANTO')

Digite o nome de sua cidade: santo inacio
True

___
**(25) Crie um programa que leia o nome de uma pessoa e diga se ela tem "Silva" no nome.**

In [20]:
nome = input("Digite seu nome completo: ").strip().upper()
print(f"Seu nome possui 'Silva'?: {'SILVA' in nome} ")

Digite seu nome completo: jessica silva
Seu nome possui 'Silva'?: True

___
**(26) Faça um programa que leia uma frase pelo teclado e mostre:**

    a) Quantas vezes aparece a letra A;

    b) Em que posição a letra A aparece pela primeira vez;

    c) Em que posição a letra A aparece pela última vez.

In [25]:
frase = input("Digite uma frase: ").strip().upper()

Digite uma frase: ela é esperta

In [26]:
# a
n=frase.count('A')
print(f'A letra A aparece: {n} vezes')

A letra A aparece: 2 vezes

In [34]:
# b
pri = frase.find('A')+1
print(f'A letra A aparece pela primeira vez na posição: {pri}.')

A letra A aparece pela primeira vez na posição: 3.

In [35]:
# c
ult = frase.rfind('A')+1
print(f' A letra A aparece pela última vez na posição: {ult}.')

 A letra A aparece pela última vez na posição: 13.

**(27) Faça um programa que leia o nome completo de uma pessoa, mostrando em seguida o primeiro e o último nome separadamente.**

In [42]:
nome = input("Digite seu nome completo: ").strip().split()
n=len(nome)
print(f'Seu primeiro nome é: {nome[0]}')
print(f'Seu último nome é: {nome[n-1]}')

Digite seu nome completo: Jessica Hemily de Sá
Seu primeiro nome é: Jessica
Seu último nome é: Sá